
<app-navbar></app-navbar>
<div class="home"> 
    <div class="container">
    <div class="d-flex align-items-center justify-content-center ">
        <div class="text-center">
          <h1
            class="display-1 content fw-bold animate__animated animate__flip animate__bounce text-color"
          >
            404
          </h1>
          <p class="fs-3"><span class="text-color ">Opps!</span> Page not found.</p>
          <p class="lead text-color">
            Sorry, somthing wrong .The page you’re looking for doesn’t exist for now !
          </p>
          <a href="/" class="btn btn-color">Go Home</a>
        </div>
      </div>
    </div>
</div>

