  <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card posistion " style="width: 18rem;">
                <img class="card-img-top" src="https://www.zoom.com.tn/56269-thickbox_default/canon-eos-r6-mark-ii.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Canon EOS R6 Mark II</h5>
                  <p class="card-text">Photos, vidéos, scènes d'action ou portraits : l'association des performances et de la qualité d'image de l'EOS R6 Mark II permet à votre créativité de s'épanouir.</p>
                  <a href="#" class="btn btn-primary">View Product</a>
                </div>
              </div>
        </div>
    </div>   
</div>