<div class="bg">
    <div class="cont">
      <div class="container">
        <div class="row content">
          <div class="col-md-6 d-none d-md-block">
            <img src="https://static-cse.canva.com/blob/891898/Green-Screen.jpg" class="img-fluid image" alt="">
          </div>
          <div class="col-md-6">
            <h3 class="signin-text mb-3">Welcome to our family!</h3>
            <h3 class="signin-text mb-3">Register from here</h3>
            <form>
              <div class="form-group input-position">
                <label for="name">Name</label>
                <input type="text" [(ngModel)]="userInfo.name" name="name" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" [(ngModel)]="userInfo.lastname" name="lastname" class="form-control">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" [(ngModel)]="userInfo.email" name="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" [(ngModel)]="userInfo.password" name="password" class="form-control">
              </div>
              <div>
                You already have an account? <a routerLink="/login">Login</a><br>
              </div>
              <button class="btn btn-class" (click)="ajout()">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  