<app-navbar></app-navbar>
<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 ">
                <div class="welcome ">
                    <div class="animate__animated animate__zoomIn">
                        Welcome to CimaProduction
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col offset-md-2">
                <div class="sous-titre animate__animated animate__zoomIn">
                    <div class="mt-3">
                        a website where you will find everything you need to make your own movie!
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1 mx-auto d-flex  ">
              <input
                placeholder="Search.."
                type="text"
                name=""
                id=""
                class="form-control rechercher icon"
              />
            </div>  
    </div>  
    
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="title">
                Top products :
            </div>
        </div>
    </div>
    <div class="content">
        <app-product></app-product>
    </div>
    <div class="product-slider">
        <div class="slide">
          
            <app-product></app-product>
          
        </div>
      </div>
      
</div>


