<div class="home">
    <div class="container">
        <div class="welcome ">
            <div class="animate__animated animate__zoomIn">
                Welcome to CimaProduction
            </div>
            
            
        </div> 
        <div class="sous-titre animate__animated animate__zoomIn">
            <div class="mt-5">
                a website where you will find everything you need to make your own movie!
            </div>
            
        </div>
        <div class="row">
            <div class="col-6 mx-auto d-flex align-items-center div-input">
              <input
                placeholder="Search.."
                type="text"
                name=""
                id=""
                class="form-control rechercher icon"
              />
            </div>
    </div>
</div>
